body {
  background-color: #FFDAB9;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar-default {
  background-color: #c04e01;
  box-shadow: 0 0 5px;
  width: 100%;
}

.form-container {
  position: relative;
  left: 17rem;
}

.head {
  position: relative;
  left: 12.5rem;
}

.company-icon {
   color: #c04e01;
   position: relative;
   left: 60rem;
   top: -25rem;
   font-size: 20rem;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    background-color: #FFDAB9;
    overflow: hidden;
    -ms-overflow-style: none;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  .navbar-default {
    width: 100%;
  }

  .head {
    position: relative;
    left: 2.5rem;
  }

  .form-container {
    position: relative;
    left: 3rem;
  }


  .company-icon {
    color: #c04e01;
    position: relative;
    left: 18rem;
    top: -30rem;
    font-size: 10rem;
 }

 th, td {
   font-size: 12.4px;
 }
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  body {
    background-color: #FFDAB9;
    overflow: hidden;
    -ms-overflow-style: none;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  .navbar-default {
    width: 100%;
  }

  .head {
    position: relative;
    left: 2.5rem;
  }

  .form-container {
    position: relative;
    left: 3rem;
  }


  .company-icon {
    color: #c04e01;
    position: relative;
    left: 15rem;
    top: -25rem;
    font-size: 5rem;
 }

 th, td {
   font-size: 8px;
 }
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
  body {
    background-color: #FFDAB9;
    overflow: hidden;
    -ms-overflow-style: none;
  }

  body::-webkit-scrollbar {
    display: none;
  }
  
  .navbar-default {
    width: 100%;
  }

  .head {
    position: relative;
    left: 2.5rem;
  }

  .form-container {
    position: relative;
    left: 3rem;
  }


  .company-icon {
    color: #c04e01;
    position: relative;
    left: 15rem;
    top: -25rem;
    font-size: 5rem;
 }

 th, td {
   font-size: 8px;
 }
}