body {
  background-color: black;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

h4 {
  color: white;
  text-align: center;
}

h3 {
  color: black;
}

h5 {
  color: #c04e01;
}

i {
  color: black;
}

p {
  
  color: white;
  border: none;
  font-family: 'Squada One', cursive;
  font-size: 22px;
}

h1 {
  color: white;
  text-align: center;
  font-size: 30px;
}

.navbar-default {
  background-color: #c04e01;
  box-shadow: 0 0 5px;
}




.fa-file-pdf-o {
  font-size: 60px;
  
}

.fa-linkedin-square {
  font-size: 60px;
}

.fa-github {
  font-size: 60px;
}

.space {
  height: 10rem;
}

.card {
  background-image: url("static/personal/img/me.jpg");
  background-size: 60rem 35rem;
  background-repeat: no-repeat;
  height: 35rem;
  width: 60rem;
  border-radius: 50%;
  color: white;
  border: 8px solid #c04e01;
  position: relative;
  left: 30rem;
}

.card-body {
  position: relative;
}

.card-body > span {
  position: absolute;
  color: white;
  bottom: 0;
  right: 20rem;
}

.btn {
  font-size: 20px;
  color: white;
}

.card-header {
  background-color: #c04e01;
  margin: -1px;
}

.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.card {
  height: 25rem;
  width: 33rem;
  margin: .7rem;
  border: 8px solid #c04e01;
  box-shadow: 0 0 5px;
}

.card-text {
  color: #c04e01;
  overflow-y: scroll;
  -ms-overflow-style: none;
 
}

.card-text::-webkit-scrollbar {
  display: none;
}

ul {
  color: #c04e01;
  font-size: 20px;
}
