{% extends "base_crud.html" %}
{% load static %}
{% block page_content %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Professional ID</th>
        <th>Professional Name</th>
        <th>Professional Email</th>
        <th>Professional Contact</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
{% for professional in professionals %}
    <tr>
        <td>{{ professional.proid }}</td>
        <td>{{ professional.name }}</td>
        <td>{{ professional.proemail }}</td>
        <td>{{ professional.procontact }}</td>
        <td>
            <a href="edit_form/{{ professional.id }}"><span class="glyphicon glyphicon-pencil" >Edit /</span></a>
            <a href="delete_form/{{ professional.id }}">Delete</a>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>
<center><a href="{% url 'pro_form' %}" class="btn btn-primary">Add New Record</a></center>

    {% endblock %}
