body {
  overflow-y: scroll;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

h3, h4 {
   color: white;
}

i {
  color: white;
}

img {
  height: 4rem;
  width: 4rem;
}

pre {
   font-size: 17px;
   color: black;
}

h1 {
  color: white;
  font-size: 30px;
}

.navbar-default {
  box-shadow: 0 0 5px;
  background-color: black;
}

.card {
    height: 45rem;
    width: 49rem;
    background-color: yellow;
    border: 8px solid black;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container > div {
  margin: 20px;
  text-align: center;
  align-items: center;
  max-width: 800px;
}

tr th, tr td {
  color: black;
  padding: 5px;
  
}

table {
  border-radius: 12px;
  background-color: red;
  width: 45rem;
  max-width: 800px;
  
}

thead tr {
  height: 40px;
}

tbody tr {
  height: 28px;
  background-color: white;
}


@media only screen and (max-width: 600px) {
  table {
    width: 27.5rem;
  }
  h1 {
    font-size: 15px;
  }

  img {
    height: 2rem;
    width: 2rem;
  }

  tr th, tr td {
    font-size: small;
  }
}
