{% extends "base0.html" %}
{% load static %}
{% block page_content %}
<body>
    <div class="flex-box">
        <div class="row">
              <div class="card">
                <div class="card-header">
                  <h4>PERSONAL</h4>
                </div>
                  <p class="card-text">Allow myself to introduce myself, my name is Markas Fuller.
                    I have a beautiful, dysfunctional family.
                    We've been living in the Charleston area for 5 years.
                    I am always looking for more opportunities and experiences.
                    I served 6 years in the worlds greatest navy.
                    I read science fiction books and books based on history.
                    I am a big Futbol fan and Manchester United is my team.
                    In the future, I plan to move to the United Kingdom,
                    so I can watch all the Futbol live.</p>
              </div>
              <div class="card">
                <div class="card-header">
                    <h4>PROFESSIONAL</h4>
                </div>
                  <p class="card-text">I've been in the technology career field for about ten years.
                    I am currently looking for more remote opportunities.
                    I am looking to expand my knowledge into the web designing and developing
                    aspect of the technology career field. So far, my current projects are developing
                    websites using Python, Javascript and Django.</p>
              </div>
          </div>
        </div>
    </div>
    <div class="flex-box">
        <div class="row">
              <div class="card">
                <div class="card-header">
                    <h4>SKILLS</h4>
                </div>
                    <ul>
                       <li>Linux Administration for 7 years</li>
                       <li>Windows Administration for 3 years</li>
                       <li>AWS experience for 3 years</li> 
                       <li>AWS Certified Solutions Architect Associate.</li>
                       <li>AWS Certified Developer Associate.</li>
                       <li>Scripting language such as Bash and Python.</li>
                       <li>An active secret clearance.</li>
                       <li>Currently hold CompTIA Linux+ and LPIC.</li>
                       <li>Currently hold the CompTIA Security+.</li>
                       <li>Currently taking Python and Django course.</li>
                    </ul>
              </div>
              <div class="card">
                <div class="card-header">
                    <h4>EDUCATION</h4>
                </div>
                <ul>
                    <li>2000-2004 Bangs High school General Education</li>
                    <li>2009-2011 US Navy A & C school Advance Computer Electronic Field</li>
                    <li>2015-2018 Trident Technical College Associate of Computer Science Network System Manage</li>
                </ul>
              </div>
          </div>
        </div>
    </div>
</body>





   {% endblock %}