{% extends "base0.html" %}
{% load static %}
{% block page_content %}


<div class="bg-right"></div>
<div class="flex-container">
  <div class="card card1">
   <img class="card-img-top" src="{% static 'personal/img/Pro.jpg' %}" alt="Card image">
   <div class="card-body">
     <h4 class="card-title">Cloud Administrator</h4>
     <i class="fa fa-mobile fa-2x" aria-hidden="true">843-530-2655</i>
     <a href="https://www.linkedin.com/in/markas-fuller-645163101/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
     <a href="https://github.com/snake5style" target="_blank" class="btn btn-github-icon btn-default"><i class="fa fa-github"></i></a>
     <a href="Markas-Fuller-Resume.pdf" download><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true">My Resume</i></a>
   </div>
  </div>
  <div class="card card2">
    <h1 class="h101">Click the button below to see how professional I am.....</h1>
     <div class="card-header"><button class="bt01 myBtn">P R O F E S S I O N A L</button></div>

      <!-- The Modal -->
      <div class="modal myModal">

      <!-- Modal content -->
      <div class="modal-content">
      <span class="close">&times;</span>
      <h1>P R O F E S S I O N A L</h1>
      <p> I've been in the technology career field for about ten years now and I still don't know what best suits me.
       So I decide to test my abilities and create this website. I am really into Python and Django at the moment.
       I am always looking for more opportunities and experiences.
       I am currently employed at OneDataSource, and I currently hold the
       position of Security Officer/Cloud System Administrator.
       I am looking to expand my knowledge into the web designing and developing
       aspect of the technology career field. So far, my current project is developing
       a website using Python and Django.</p>
      </div>

      </div>
    </div>
    <div class="card card3">
       <div class="card-body"></div>
        <h1 class="h101">Click the button below to read about me.....</h1>
        <div class="card-footer">
        <button class="bt01 myBtn">P E R S O N A L</button>
        </div>
        <!-- The Modal -->
        <div class="modal myModal">

          <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <h1>P E R S O N A L</h1>
          <p>Allow myself to introduce myself, my name is Markas Fuller.
           I have a beautiful, dysfunctional family.
           We've been living in the Charleston area for 5 years.
           I am always looking for more opportunities and experiences.
           I served 6 years in the worlds greatest navy.
           I read science fiction books and books based on history.
           I am a big Futbol fan and Manchester United is my team.
           In the future, I plan to move to the United Kingdom,
           so I can watch all the Futbol live.</p>
        </div>

        </div>
    </div>
    <div class="card card4">
      <h1 class="h103">Click the button below to see the skills I offer.....</h1>
       <div class="card-header"><button class="bt01 myBtn">S K I L L S</button></div>
       <!-- The Modal -->
         <div class="modal myModal">

           <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <h1>S K I L L S</h1>
            <p>Linux Administration for 5 years with RHEL, CentOS, Ubuntu currently hold CompTIA Linux+ and LPIC.
              Windows Administration for 2 years with Windows 7,10,2012R2.
              AWS experience for 2 years plus I currently hold the AWS Certified Solutions Architect Associate.
              Ansible experience for 1 year.
              Scripting language such as Bash and Python.
              Network Administration for 2 years with cisco products Currently holding CCENT.
              An active secret clearance.
              Software Test and Development for 2 years on CMIC Logistic Software.
              I also currently hold the CompTIA Security+ and CompTIA A+.
              Currently taking Python, Terraform, Cloudformation, Django course to improve skills.
              </p>
          </div>
        </div>
    </div>
    <div class="card card5">
      <div class="card-body"></div>
      <h1 class="h104">Click the button below to see the education I received.....</h1>
       <div class="card-footer">
        <button class="bt01 myBtn">E D U C A T I O N</button>
       </div>
        <!-- The Modal -->
        <div class="modal myModal">

        <!-- Modal content -->
          <div class="modal-content">
          <span class="close">&times;</span>
          <h1>E D U C A T I O N</h1>
          <p> 2000-2004 Bangs High school General Education
          2009-2011 US Navy A & C school Advance Computer Electronic Field
          2015-2018 Trident Technical College Associate of Computer Science Network System Manage</p>
          </div>

        </div>
      </div>
    </div>



   {% endblock %}
