{% extends "base0.html" %}
{% load static %}
{% block page_content %}

<div class="card1 mb-3">
  <div class="row no-gutters">
      <div class="card-body">
        <h1 class="card-title"> Howdy do, I'm Markas </h1>
        <h4 class="card-title">AWS Cloud Administrator</h4>
        <a href="https://www.linkedin.com/in/markas-fuller-645163101/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="https://github.com/snake5style" target="_blank" class="btn btn-github-icon btn-default"><i class="fa fa-github"></i></a>
        <a href="Markas-Fuller-Resume.pdf" download><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i></a>
        <a href="{% url  'about_index' %}"><button type="button" class="btn btn-outline-light"> View More </button></a>
      </div>
  </div>
</div>




   {% endblock %}