{% extends "base0.html" %}
{% load static %}
{% block page_content %}

<div class="space"></div>
<div class="card1" style="background-image:  url({% static 'personal/img/me.jpg' %});">
  <div class="card-body">
    <span>
      <h4><b>Howdy do, I'm Markas</b></h4>
      <p>AWS Administrator</p>
      <a href="https://www.linkedin.com/in/markas-fuller-645163101/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      <a href="https://github.com/snake5style" target="_blank" class="btn btn-github-icon btn-default"><i class="fa fa-github"></i></a>
      <a href="/media/Markas-Fuller-Resume.pdf" download><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i></a>
     </span>
    </div>
</div>




   {% endblock %}
